body {
    font-family: Arial, Helvetica, sans-serif;
}
header {
    background-color: #9dcced;
    padding: 10px;
    text-align: center;
}
nav ul {
    list-style-type: none;
    padding: 0;
    text-align: center;
}
nav ul li {
    display: inline;
    margin-right: 20px;
}
nav ul li a {
    text-decoration: none;
    color: rgb(16, 8, 8);
}
a:hover {
    text-decoration: underline;
}
section {
    border: 1px solid #ddd;
    padding: 15px;
    margin: 20px 0;
    box-shadow:  0 0 5px #aaa;
}
footer {
    background-color: #babddb;
    padding: 10px;
    text-align: center;
}